@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    line-height: 1.5;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
}

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.product-content {
    padding: 2rem 1rem;
}

.profile-card {
    text-align: center;
    padding: 60px;
    border: 1px solid rgb(0 0 0 / 10%);
}

.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.profile-card h3 {
    margin-top: 15px;
}

.btn-0 {
    width: 100%;
    padding: 7px;
    margin-bottom: 14px;
    margin-top: 14px;
    border: 0;
    background: #FDC61F;
    color: #000;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.btn-1 {
    background: none;
    border: 1px solid #04AC80;
    color: #04AC80;
    padding: 7px 15px;
    border-radius: 5px;
    margin: 0 7px;
    width: 30%;
    font-weight: bold;
    cursor: pointer;
}

.btn-2 {
    background: #04AC80;
    color: #fff;
    border: 0;
    padding: 7px 15px;
    border-radius: 5px;
    margin: 0 7px;
    width: 30%;
    font-weight: bold;
    cursor: pointer;
}

.flex-0 {
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
    color: #04ac80;
    cursor: pointer;
}




@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-content {
        padding-top: 0;
    }
}